/* Message Box */
.message-box {
	--color-message-box: rgb(22, 22, 16);

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-20);
	padding: 1em 0.625em; /* 16px 10px /16 */
	text-align: center;
}
.message-box ol {
	margin-top: 0;
}

.message-box h1 {
	font-family: "Montserrat", sans-serif;
	margin-bottom: -0.5em; /* 8px /16 */
}

.message-box p {
	font-family: "Pompiere", sans-serif;
	font-size: 1.125em; /* 18px /16 */
}


.message-box span {
	color: #CA3535;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}
