{%- for post in postslist | reverse %}
    <article class="post-card{% if post.url == url %} postlist-item-active{% endif %}">
        <div class="post-date"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></div>
        <h3 class="post-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
        <p class="post-excerpt"> {{ post.templateContent | striptags | truncate(150, true, '...') }}</p>
        <a href="{{ post.url }}" class="postlist-link"><span class="read-more">Leer historia completa →</span></a>
    </article>
{%- endfor %}
